/* Capstone css - universal style*/
html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  line-height: 1.5em;
}
/* Header */
.header{
  background-color: #a3dedf;
}
.header > .container-flex{
  display: flex;
  justify-content:space-around;
  align-items:center;
  padding: 1rem;
}

.header img{
  /* height resizes logo image*/
  height: 2.5rem;
  /*padding-right: 1rem;*/
  margin: 0 0.5rem 0 1.33rem;
}

span.title-logo1{
  color: #4a4a4a;
  font-weight: 800;
  font-size: 1.2rem;
}

span.title-logo2{
  color: #ddd;
  font-weight: normal;
}

.container{
  max-width: 960px;
  margin: 0 0 0 auto;
}

nav{
  padding: 0.75rem 1rem;
  color: #e8e8e8;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
  padding: 0.5rem;
}

/* Banner */
.main-banner{
  background-color: #d8d8d8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*height: 47rem;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-banner > .banner-image{
  /*width: 60%;*/
  padding: 1.77rem 2.22rem 1.77rem 1.33rem;
}

.banner-image img{
    height: 42rem;
}
.banner-text{
  padding-right: 2.6rem;
}
.banner-text h1{
  font-size: 3rem;
  color: #4a4a4a;
  line-height: 3rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.banner-text h2{
  font-size: 2.4rem;
  color: #4a4a4a;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.main-banner button{
  background-color: #4a4a4a;
  width: 100%;
  color: #fff;
  height: auto;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* portfolio section */
.information-section{
  display: flex;
  justify-content: space-between;
}

.column-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-feature-section{
  flex:1;
  padding: 1.77rem 1.33rem;
  border:1px solid red;
}

.main-feature-section .center{
  /*text-align: left;*/
}

.main-feature-section .image-container{
  width: 60%;
}

.main-feature-section img{
  height: 31.2rem;
}

.main-feature-section .content{
  padding: 2.5rem 0;
}

.main-feature-section h1{
  padding-bottom: 1.33rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: #4a4a4a;
}

.main-feature-section h2{
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
  padding-bottom: 1rem;
}

.main-feature-section h3{
  font-size: 1rem;
  font-weight: bold;
  color: #4a4a4a;
  margin-top: 5%;
}

.flex-item{
  display: flex;
}

.flex-item img{
  /*width: 35%;*/
}
