/* Capstone css - universal style*/
html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  line-height: 1.5em;
}
/* Header */
.header{
  background-color: #fff;
}
.header > .container-flex{
  display: flex;
  justify-content:space-around;
  align-items:center;
  padding: 1rem;
}

.header img{
  /* height resizes logo image*/
  height: 2.5rem;
  /*padding-right: 1rem;*/
  margin: 0 0.5rem 0 1.33rem;
}

span.title-logo1{
  color: #4a4a4a;
  font-weight: 800;
  font-size: 1.2rem;
}

span.title-logo2{
  color: #9b9b9b;
  font-weight: normal;
  font-size: 1.2rem;
}

.container{
  max-width: 960px;
  margin: 0 0 0 auto;
}

nav{
  padding: 0.75rem 1rem;
  color: #4a4a4a;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
  padding: 0.5rem;
}

/* Banner */
.main-banner{
  background-color: #d8d8d8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*height: 47rem;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-banner > .banner-image{
  /*width: 60%;*/
  padding: 1.77rem 2.22rem 1.77rem 1.33rem;
}

.banner-image img{
    height: 42rem;
}
.banner-text{
  padding-right: 2.6rem;
}
.banner-text h1{
  font-size: 3rem;
  color: #4a4a4a;
  line-height: 3rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.banner-text h2{
  font-size: 2.4rem;
  color: #4a4a4a;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.main-banner button{
  background-color: #4a4a4a;
  width: 100%;
  color: #fff;
  height: auto;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* portfolio section */
.information-section{
  display: flex;
  justify-content: space-between;
}

.column-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0.88rem;
}

.main-feature-section{
  flex:1;
  padding: 1.77rem 1.33rem;
  border-right:1px solid #ddd;
}

.main-feature-section .center{
  /*text-align: left;*/
}

.main-feature-section .image-container{
  width: 60%;
}

.main-feature-section img{
  height: 31.2rem;
}

.main-feature-section .content{
  padding: 2.5rem 0;
}

.main-feature-section h1{
  padding-bottom: 1.33rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: #4a4a4a;
  text-align: justify;
}

.main-feature-section h2{
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #979797;
  padding-bottom: 1rem;
  text-align: justify;
}

.main-feature-section h3{
  font-size: 1rem;
  font-weight: bold;
  color: #4a4a4a;
  margin-top: 5%;
  text-align: justify;
}

.flex-item{
  display: flex;
}

.content-item{
  padding-left: 1.5rem;
}

.content-item h3{
  font-size: 1.8rem;
  color: #4a4a4a;
  font-weight: bold;
  padding-bottom: 1rem;
}

.content-item h4{
  font-size: 1.2rem;
  color: #7c7c7c;
  padding-bottom: 2rem;
  line-height: 1.9rem;
}

.content-item span a{
  color: #5d90dc;
  text-decoration: none;
  font-size: 1.3rem;
}

/* Learning courses section */
.learning-section{
  padding: 1.77rem 1rem;
  background-color: #ddd;

}

.learning-section h1{
  color: #4a4a4a;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.courses-section{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #fff;*/
}

.center{
  text-align: center;
}

.courses-flex-container{
  display: flex;
  flex-wrap: wrap;
  align-content:
}

.course-content{
  padding: 1.4rem 0.88rem;
}

.course{
  padding-bottom: 1.5rem;
  background-color: #fff;
}

.course-image-container .course-content{
  background-color: #fff;
}
.course-content h2{
  font-size: 2rem;
  color: #4a4a4a;
  font-weight: bold;
  padding-top: 0.88rem;
  padding-bottom: 0.88rem;
}

.course-content h3{
  font-size: 1.6rem;
  color: #979797;
  /*font-weight: bold;*/
  padding-top: 0.88rem;
  padding-bottom: 0.88rem;
}
.course-content span{
  font-size: 1.3rem;
  color: #979797;
  /*font-weight: bold;*/
  padding-top: 0.88rem;
  padding-bottom: 1.33rem;
  margin-bottom: 1.2rem;
}

/* exhibit section*/
.exhibit-section{
  border-bottom: 1px solid #e6e8e8;
  padding-bottom: 1.77rem;
}
.exhibit-container{
  width:100%;
}

.title{
  font-size: 3rem;
  font-weight: bold;
  color: #4a4a4a;
  padding-top: 1.77rem;
  padding-bottom: 1.77rem;
}
.main-exhibit-section{
  display: flex;
  justify-content: space-between;
}

.video-flex{
  flex: 1;
  padding-left: 1.33rem;
  padding-top: 0.88rem;
}

.video-flex h1{
  color: #4a4a4a;
  font-size: 2.0rem;
  font-weight:900;
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
}

.video-flex h2{
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #979797;
  padding-bottom: 1rem;
  /*text-align: justify;*/
}
.column-flex-exhibit{
  flex:1;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0.88rem;
  margin-top: 0.88rem;
}
.flex-item-cell{
  display: flex;
  align-items: center;
  padding: 0.88rem;
}
.flex-item-cell img{
  padding: 0.88rem;
}
.column-flex-exhibit .thesis{
  background-color: #d8d8d8;
}

.video-container video{
  width: 100%;
}

/* Footer*/
footer{


}
.copyright{

}
.content-footer{
  display: flex;
  padding: 0.8rem 0.1rem 1.75rem 1.33rem;
  justify-content: space-between;
  align-items: center;
  color: #979797;
}

footer nav ul a{
  list-style: none;
  margin: 0;
  text-decoration: none;
  color: #979797;
}
